.button{
    padding:1em 2em;
    transition:all 200ms;
    border-style:none;
    background:#09A7DB;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    display:inline-block;
    color:#FFF;
    border-radius:3px;
    font-size:0.8em;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    letter-spacing:0.1em;
    cursor:pointer;
}
.button span{
    vertical-align:middle;
    margin-left:0.5em;
}
.button:hover{
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}
.container{
    max-width:800px;
    margin:0 auto;
}