.ql-container {
  border-style:none !important;
}
.ql-toolbar{
  border-style:none !important;
  border-bottom:1px solid #DDD !important;
}
.ql-editor{
  line-height:2em !important;
  font-family: "Space Mono" !important;
}
.ql-editor p{
  font-size:1.2em !important;
}
.recording-indicator.active, .recording-indicator.active:hover{
  color:#E32D2D !important;
}